@import url('../theme/variables.css');

ion-card-header {
    display: flex;
    flex-flow: column-reverse;
}

ion-card-title {
    color: var(--ion-color-dark);
}

ion-card-subtitle {
    color: var(--ion-color-medium);
    text-transform: uppercase;
}
